# 依赖
/.pnp
.pnp.js
package-lock.json
yarn.lock

# 测试
/coverage

# 构建输出
/dist
/build
/out
/.next
/.nuxt

# 环境变量

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# 编辑器和IDE
/.idea
/.vscode
*.swp
*.swo
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# 操作系统
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# 调试
.chrome/
.vscode-test/

# Capacitor
/ios/App/public
/android/app/src/main/assets/public

# 其他
.cache/
.temp/
.tmp/
